@font-face {
    font-family: Atkinson Hyperlegible Next Regular;
    src: url(font/static/AtkinsonHyperlegibleNext-Regular.ttf);
}

@font-face{
    font-family: Atkinson Hyperlegible Next Bold;
    src: url(font/static/AtkinsonHyperlegibleNext-Bold.ttf)
}

@font-face{
    font-family: Atkinson Hyperlegible Next Medium;
    src: url(font/static/AtkinsonHyperlegibleNext-Medium.ttf)
}

:root{
    --cor-fundo: #FFFCF2;
    --cor-letra: #001A2C;
    --cor-letra2: #FFFCF2;
    --cor-detalhe1: #FF9C00;
    --cor-detalhe2: #003A61;
    --cor-regiao: #003A61;
    --cor-link-conteudo: #001A2C;
    --botao-seccao-clara: #001A2C;
    --botao-seccao-escura: #FF9C00;
}

.modoEscuro{
    --cor-fundo: #001A2C;
    --cor-letra: #FFFCF2;
    --cor-letra2: #FFFCF2;
    --cor-detallhe1: #EB8F00;
    --cor-detalhe2: #C4E5F0;
    --cor-regiao: #003152;
    --botao-seccao-clara: #EB8F00;
    --botao-seccao-escura: #EB8F00;
}

#normal{
    --tamanho-h1: 1.5rem;
    --tamanho-h2: 1.375rem;
    --tamanho-texto: 1.125rem;
    --tamanho-h3: 1.25rem;
}

#grande{
    --tamanho-h1: 1.75rem;
    --tamanho-h2: 1.625rem;
    --tamanho-texto: 1.375rem;
    --tamanho-h3: 1.5rem;
}

#pequeno{
    --tamanho-h1: 1.375rem;
    --tamanho-h2: 1.25rem;
    --tamanho-texto: 1rem;
    --tamanho-h3: 1.125rem;
}

button{
    min-height: 24px;
    min-width: 24px;
}

a{
    min-height: 24px;
    min-width: 24px;
}

body{
    background-color: var(--cor-fundo);
    color: var(--cor-letra);
    margin: 0px;
    font-family: Atkinson Hyperlegible Next Regular;
}

nav{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--cor-regiao);
    align-items: center;
    
}

h1{
    font-size: var(--tamanho-h1);
    font-family: Atkinson Hyperlegible Next Bold;
}

h2{
    font-size: var(--tamanho-h2);
    font-family: Atkinson Hyperlegible Next Medium;
}

h3{
    font-size: var(--tamanho-h3);
    font-family: Atkinson Hyperlegible Next Medium;
}

p,a,li,label, button{
    font-size: var(--tamanho-texto);
}

main button{
    font-size: var(--tamanho-texto);
}

#linkConteudo{
    background-color: var(--cor-link-conteudo);
    padding: 10px;
    padding-left: 30px;

}

.botaoNav{
    background-color: var(--cor-regiao);
    color: #FFFCF2;
    border-style: solid;
    border-width: 3px;
    border-color: #FFFCF2;
    border-radius: 2px;
    height: 5vh;
    min-height: 40px;
    width: 2.5vw;
    min-width: 40px;
    margin-right: 0%;
    align-self: center;
    justify-content: center;
    line-height: 1;
    margin-right: 0.5vw;
}

.botaoNav.selecionado{
    background-color: #FFFCF2;
    color: #001A2C;
    border-style: solid;
    border-width: 3px;
    border-color: #FFFCF2;
    border-radius: 2px;
    height: 5vh;
    min-height: 40px;
    width: 2.5vw;
    min-width: 40px;
    margin-right: 0%;
    align-self: center;
    justify-content: center;
    line-height: 1;
    margin-right: 0.5vw;
    font-weight: bolder;
}

.botaoNav.claro{
    background-color: #FFFCF2;
    color: var(--cor-regiao);
    border-style: solid;
    border-width: 3px;
    border-color: #FFFCF2;
    border-radius: 2px;
    height: 5vh;
    min-height: 40px;
    width: 2.5vw;
    min-width: 40px;
    margin-right: 0%;
    align-self: center;
    justify-content: center;
    line-height: 1;
    margin-right: 0.5vw;
}

.listaNav{
    display: inline-flex;
    gap: 5px;

}

.listaDetalhe{
    margin-right: 10px;
    list-style-type: none;
    padding-inline: 5px;
}

.icone{
    width: 15%;
    margin-right: 5px;
    height: 16px;
}

#sobreNos{
    height: 15px;
    width: 8%;
}

.listaTexto{
    display: inline-block;
    margin-right: -5%;
    
}

.listaSubcategorias{
    display: none;
    position: absolute;
    padding: 20px 5px;
    background-color: var(--cor-regiao);
    list-style-type: none;
    padding: 20px;
    transition: all 0.5s ease;
    margin-left: -100px;
    
}

.listaSubcategorias.aberto{
    display: block;
}

.listaSubcategorias #listaAssociados{
    display: none;
}

.listaSubcategorias #listaServicos{
    display: none;
}

header a{
    color: var(--cor-letra2);
}

footer{
    background-color: var(--cor-regiao);
    padding: 20px;
}

footer li{
    list-style-type: none;
    margin-top: 5px;
}

footer a,
footer p{
    color: var(--cor-letra2);  
    line-height: 3.5vh;
}

#topo {
    display: flex;
    justify-content: end;
}

#footerDesktop ul{
    display: grid;
    grid-template-columns: 75% 50%; 

}

#footerTitulo{
    grid-column: 1 / span 2;
}

#footerMobile{
    display: none;
}

#footerMobile li p,
#footerDesktop li p{
    font-family: Atkinson Hyperlegible Next Bold;
}

.linksFooter{
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    gap: 5vh;
}

#mobile{
    display: none;
}

#menu {
    display: none;
    position: absolute;
    background-color: #EB8F00;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

}

.alerta{
    font-family: Atkinson Hyperlegible Next Medium;
    background-color: var(--cor-regiao);
    color: var(--cor-letra2);
}

.alerta button,
.alerta button:hover{
    font-family: Atkinson Hyperlegible Next Medium;
    background-color: #FFFCF2;
    color: #001A2C;
}

@media only screen and (max-width:800px){

    #mobile{
        display: inline-block;
        width: 100%;
    }

    #mobile button{
        float: right;
        margin-right: 10px;
        
    }

    #desktop{
        display: none;
    }

    body{
        position: absolute;
        
    }

    #menu{
        overflow-y: hidden;
        background-color: var(--cor-regiao);    
        z-index: 9999;    
    }

    .listaNav{
        display: block;
        gap: 5px;
        justify-content: center;
        padding-left: 10%;
        margin-top: 20%;
        line-height: 40px;
    }

    #menu div{
        padding-left: 10%;
    }
    
    .listaDetalhe{
        margin-right: 10px;
        list-style-type: none;
        padding-inline: 5px;
    }
    
    .listaSubcategorias{
        display: none;
        position: relative;
        background-color: var(--cor-regiao);
        list-style-type: none;
        padding: 20px; 
        margin-left: 0px;       
    }

    .listaSubcategorias #listaAssociados{
        display: none;
    }
    
    .listaSubcategorias #listaServicos{
        display: none;
    }

    .listaSubcategorias.aberto{
        display: block;
    }

    .botaoNav{
        width: 40px;
    }

    .botaoNav.selecionado{
        width: 40px;
    }

    .botaoNav.claro{
        width: 40px;
    }

    .botaoMenu{
        background-color: #001a2ce5;
        color: rgba(250, 235, 215, 0);
        border-style: none;
    }

    nav img{
        margin-top: 10px;
        margin-left: 20px;
    }
}

@media only screen and (max-width: 951px){
    #footerMobile{
        display: block;
        line-height: 30px;
        gap: 5px;
    }

    #footerDesktop{
        display: none;
    }

    .linksFooter{
        display: block;
    }

    .listaSubcategorias{
        margin-left: 0px;
    }
}

@media only screen and (min-width: 952px) and (max-width:1100px){
    .botaoNav{
        /* background-color: var(--cor-regiao);
        color: #FFFCF2;
        border-style: solid;
        border-width: 3px;
        border-color: #FFFCF2;
        border-radius: 2px; */
        height: 3.5vw;
        min-height: 40px;
        width: 3.5vw;
        min-width: 40px;
        /* margin-right: 0%;
        align-self: center;
        justify-content: center; */
        line-height: 0.2;
        /* margin-right: 0.5vw; */
    }

    .botaoNav.claro{
        /* background-color: var(--cor-regiao);
        color: #FFFCF2;
        border-style: solid;
        border-width: 3px;
        border-color: #FFFCF2;
        border-radius: 2px; */
        height: 3.5vw;
        min-height: 40px;
        width: 3.5vw;
        min-width: 40px;
        /* margin-right: 0%;
        align-self: center;
        justify-content: center; */
        line-height: 0.2;
        /* margin-right: 0.5vw; */
    }

    .botaoNav.selecionado{
        /* background-color: var(--cor-regiao);
        color: #FFFCF2;
        border-style: solid;
        border-width: 3px;
        border-color: #FFFCF2;
        border-radius: 2px; */
        height: 3.5vw;
        min-height: 40px;
        width: 3.5vw;
        min-width: 40px;
        /* margin-right: 0%;
        align-self: center;
        justify-content: center; */
        line-height: 0.2;
        /* margin-right: 0.5vw; */
    }

}