:root{
    --cor-fundo: #FFFCF2;
    --cor-letra: #001A2C;
    --cor-letra2: #FFFCF2;
    --cor-botao: #FFFCF2;
    --cor-detalhe1: #FF9C00;
    --cor-detalhe2: #003A61;
    --cor-regiao: #003A61;
    --cor-link-conteudo: #001A2C;
    --seccao-url: url("./images/seccoes/Group 8 - v2.png");
    --botao-inicial: #001A2C;
    --botao-seccao-clara: #001A2C;
    --botao-seccao-escura: #FF9C00;
}

.modoEscuro{
    --cor-fundo: #001A2C;
    --cor-letra: #FFFCF2;
    --cor-letra2: #FFFCF2;
    --cor-botao: #001A2C;
    --cor-detallhe1: #EB8F00;
    --cor-detalhe2: #C4E5F0;
    --cor-regiao: #003152;
    --seccao-url: url("./images/seccoes/Group 8 - Dark mode.png");
    --botao-seccao-clara: #EB8F00;
    --botao-seccao-escura: #EB8F00;

}

#primeiraSeccao{
    background-image: linear-gradient(rgba(0,0,0,0) 40%, rgba(137,194,217,1) 85%),
                      url("https://images.unsplash.com/photo-1612537786199-1c202c6dcfd2?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: 80px;
    height: fit-content;
    min-height: 60vh;
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-end;
    color: #001A2C;
}

#primeiraSeccao h1{
    font-family: Atkinson Hyperlegible Next Bold;
}

#primeiraSeccao p{
    line-height: 5px;  
}

h2{
    font-family: Atkinson Hyperlegible Next Medium;
}

.seccao{
    padding: 30px;
    min-height: 30vh;
    display: block;
    align-content: space-around;
}

.botaoInicio{
    background-color: var(--botao-inicial);
    border-radius: 2px;
    color: var(--cor-letra2);
    text-decoration: none;
    padding: 5px;
    width: 35%;
    text-align: center;
}

.botaoClaro{
    background-color: var(--botao-seccao-clara);
    border-radius: 2px;
    color: var(--cor-botao);
    text-decoration: none;
    padding: 5px;
    width: 35%;
    text-align: center;
    display: block;
}

.botaoEscuro{
    background-color: var(--botao-seccao-escura);
    border-radius: 2px;
    color: #001A2C;
    text-decoration: none;
    padding: 5px;
    width: 35%;
    text-align: center;
    display: block;
}

#terceiraSeccao{
    background-image: var(--seccao-url);
    color: var(--cor-letra2);
}

.atualidade{
    display: flex;
    justify-content: left;
    margin-top: 20px;
}

.atualidade img{
    width: 10vw;
    height: 15vh;
    object-fit: cover;
    margin-right: 10px;
}

.atualidade a{
    color: var(--cor-letra);
}

.listaSubcategorias{
    /* position: relative; */
    top: 95px; 

}

footer p{
    font-family: Atkinson Hyperlegible Next Bold;
}

@media only screen and (max-width:700px){
    .atualidade img{
        width: 30vw;
        height: 40vh;
    }

    .listaSubcategorias{
        position: relative;
        top: 0px; 
    
    }
}

@media only screen and (min-width:701px) and (max-width: 1100px){
    .atualidade img{
        width: 30vw;
        height: 20vh;
    }

    .listaSubcategorias{
        position: relative;
        top: 0px; 
    
    }

}

@media only screen and (max-width:1000px){
    #primeiraSeccao{
        background-position: 20px;
        height: 40vh;
    }

    .botaoInicio{
        width: 98%;
        min-height: 24px;
        margin-top: 5px;
    }

    .botaoClaro{
        width: 98%;
        min-height: 24px;

    }
    
    .botaoEscuro{
        width: 98%;
        min-height: 24px;

    }
    .listaSubcategorias{
        position: relative;
        top: 0px;
        /* top: 0px;  */
    
    }
}

@media only screen and (min-width: 951px) and (max-width:1350px){
    .listaSubcategorias{
        position: relative;
        top: 95px;
        /* top: 0px;  */
    
    }
}