@font-face {
    font-family: Atkinson Hyperlegible Next Regular;
    src: url(../font/static/AtkinsonHyperlegibleNext-Regular.ttf);
}

:root{
    --cor-fundo: #FFFCF2;
    --cor-letra: #001A2C;
    --cor-letra2: #FFFCF2;
    --cor-detalhe1: #FF9C00;
    --cor-detalhe2: #003A61;
    --cor-regiao: #003A61;
    --seccao-url: url("../images/seccoes/Group 8 - v2.png");
    --botao-seccao: #FF9C00;

}

.modoEscuro{
    --cor-fundo: #001A2C;
    --cor-letra: #FFFCF2;
    --cor-letra2: #FFFCF2;
    --cor-detallhe1: #EB8F00;
    --cor-detalhe2: #C4E5F0;
    --cor-regiao: #003152;
    --seccao-url: url("../images/seccoes/Group 8 - Dark mode.png");
    --botao-seccao: #EB8F00;
}

.seccao{
    padding: 30px;
    min-height: 30vh;
    display: block;
    align-content: space-around;
}

.associados{
    display:inline-table;
    justify-content: space-between;
    width: 40%;
    background-image: var(--seccao-url);
    margin: 10px;
    padding: 25px;
    /* align-items: stretch; */
    height: 10vh;
    min-height: fit-content;
}

.associados a{
    color: var(--cor-letra2);
    font-family: Atkinson Hyperlegible Next Bold;
}

.associados p{
    color: var(--cor-letra2);
}

.listaSubcategorias{
    /* position: relative; */
    top: 95px; 

}

@media only screen and (max-width:700px){
    .associados{
        display: block;
        width: 80%;
        height: 25vh;
    }

    .listaSubcategorias{
        position: relative;
        top: 0px; 
    
    }
    
}

@media only screen and (min-width: 701px) and (max-width: 951px) {
    .associados{
        display: inline-table;
        width: 35%;
        height: 15vh;
    }  
    
    .listaSubcategorias{
        position: relative;
        top: 0px; 
    
    }
}

@media only screen and (min-width: 952px) and (max-width:1100px){
    .listaSubcategorias{
        /* position: relative; */
        top: 95px;
        /* top: 0px;  */
    
    }
}