@font-face {
    font-family: Hubot Sans;
    src: url(../static/HubotSans-Regular.ttf);
}

:root{
    --cor-fundo: #FFFCF2;
    --cor-letra: #001A2C;
    --cor-letra2: #FFFCF2;
    --cor-detalhe1: #FF9C00;
    --cor-detalhe2: #003A61;
    --cor-regiao: #003A61;
    --seccao-url: url("../images/seccoes/Group 8 - v2.png");
    --botao-seccao: #FF9C00;
}

.modoEscuro{
    --cor-fundo: #001A2C;
    --cor-letra: #FFFCF2;
    --cor-letra2: #FFFCF2;
    --cor-detallhe1: #EB8F00;
    --cor-detalhe2: #C4E5F0;
    --cor-regiao: #003152;
    --seccao-url: url("../images/seccoes/Group 8 - Dark mode.png");
    --botao-seccao: #EB8F00;
}

.seccao{
    padding: 30px;
    min-height: 30vh;
    display: block;
    align-content: space-around;
}

.btnExpandir{
    background-color: rgba(0, 0, 0, 0);
    font-family: Hubot Sans;
    border-style: none;
    font-size: 20px;
    margin-top: 10px;
    cursor: pointer;
    text-align: left;
    color: var(--cor-letra);
}

.resposta{
    display: none;
}

.resposta.aberto{
    display: block;
}

a{
    color: var(--cor-letra);
}

@media only screen and (max-width: 1100px){
    body{
        width: 100%;
    }
}