@font-face {
    font-family: Atkinson Hyperlegible Next Regular;
    src: url(../font/static/AtkinsonHyperlegibleNext-Regular.ttf);
}

:root{
    --cor-fundo: #FFFCF2;
    --cor-letra: #001A2C;
    --cor-letra2: #FFFCF2;
    --cor-detalhe1: #FF9C00;
    --cor-detalhe2: #003A61;
    --cor-regiao: #003A61;
    --seccao-url: url("../images/seccoes/Group 8 - v2.png");
    --botao-seccao: #FF9C00;
}

.modoEscuro{
    --cor-fundo: #001A2C;
    --cor-letra: #FFFCF2;
    --cor-letra2: #FFFCF2;
    --cor-detallhe1: #EB8F00;
    --cor-detalhe2: #C4E5F0;
    --cor-regiao: #003152;
    --seccao-url: url("../images/seccoes/Group 8 - Dark mode.png");
    --botao-seccao: #EB8F00;
}

a{
    color: var(--cor-letra)
}

.seccao{
    padding: 30px;
    min-height: 30vh;
    display: block;
    align-content: space-around;
}

.servicos{
    display: inline-table;
    width: 40%;
    background-image: var(--seccao-url);
    margin: 10px;
    padding: 25px;
    min-height: fit-content;
    height: 15vh;
}

.servicos a{
    color: var(--cor-letra2);
    font-family: Atkinson Hyperlegible Next Medium;
    margin-left: 10px;
}

.servicos p{
    color: var(--cor-letra2);
}

#form{
    background-image: var(--seccao-url);
    padding: 40px;
    color: var(--cor-letra2);

}

#form input:focus,
#form select:focus{
    border: solid 3px #001A2C ;
    border-radius: 2px;
}

#form input,
#form select{
    width: 50%;
    min-height: 25px;
    font-family: Atkinson Hyperlegible Next Regular;
    margin-top: 5px;
    margin-bottom: 5px;
}

#enviarEmail{
    width: 50%;
    min-height: 25px;
    font-family: Atkinson Hyperlegible Next Regular;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: var(--cor-detalhe1);
    color: #001A2C;
    border-style: none;
}

/* @media only screen and (max-width:900px){
    .servicos{
        display: inline-block;
        width: 90%;
        height: 25vh;
    }

    .servicos img{
        height: 10%;
    }

    #form input,
    #form select{
        width: 90%;
    }

    #enviarEmail{
        width: 90%;
    }
    
} */

@media only screen and (min-width: 701px) and (max-width: 1100px) {
    .servicos{
        display: inline-table;
        width: 35%;
        height: 15vh;
    }  
    
    .servicos img{
        height: 10%;
    }

    #form input,
    #form select{
        width: 75%;
    }

    #enviarEmail{
        width: 75%;
    }
}

@media only screen and (max-width: 700px) {
    .servicos{
        display: block;
        width: 80%;
        height: 25vh;
    } 
    
    #form input,
    #form select{
        width: 90%;
    }

    #enviarEmail{
        width: 90%;
    }
}


/* @media only screen and (max-width: 1000px){
    .servicos{
        display: inline-block;
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 50vh;
    }
} */