@font-face {
    font-family: Hubot Sans;
    src: url(../static/HubotSans-Regular.ttf);
}

:root{
    --cor-fundo: #FFFCF2;
    --cor-letra: #001A2C;
    --cor-letra2: #FFFCF2;
    --cor-detalhe1: #FF9C00;
    --cor-detalhe2: #003A61;
    --cor-regiao: #003A61;
    --cor-link-conteudo: #001A2C;
    --seccao-url: url("../images/seccoes/Group 8 - v2.png");
    --botao-inicial: #001A2C;
    --botao-seccao-clara: #001A2C;
    --botao-seccao-escura: #FF9C00;
}

.modoEscuro{
    --cor-fundo: #001A2C;
    --cor-letra: #FFFCF2;
    --cor-letra2: #FFFCF2;
    --cor-detallhe1: #EB8F00;
    --cor-detalhe2: #C4E5F0;
    --cor-regiao: #003152;
    --seccao-url: url("../images/seccoes/Group 8 - Dark mode.png");
    --botao-seccao-clara: #EB8F00;
    --botao-seccao-escura: #EB8F00;

}

.seccao{
    padding: 30px;
    min-height: 30vh;
    display: block;
    align-content: space-around;
}

.orgao{
    display: flex;
    width: 45%;
    border: solid 1px var(--cor-letra);
    border-radius: 2px;
    padding: 5px;
}

.conselho{
    display: flex;
    columns: 2;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 10px;
}

.orgaoDetalhe{
    margin-left: 10px;
}

.btnExpandir{
    background-color: rgba(0, 0, 0, 0);
    font-family: Hubot Sans;
    border-style: none;
    font-size: 20px;
    margin-top: 10px;
    cursor: pointer;
    text-align: left;
}

.resposta{
    display: none;
}

.resposta.aberto{
    display: block;
}

a{
    color: var(--cor-letra);
}

@media only screen and (max-width:767px){
    .orgao{
        display: flex;
        width: 100%;
        border: solid 1px var(--cor-letra);
        border-radius: 2px;
        padding: 5px;
        margin-top: 10px;
    }

    .conselho{
        display: block;
        columns: 1;
        margin-top: 10px;
        gap: 10px;
    }

    .orgao img{
        margin-right: 10px;
        width: 78px;
        height: auto;
    }
}

@media only screen and (min-width:768px) and (max-width:1100px){
    .orgao{
        width: 90%;
        margin-bottom: 10px;
    }

    .conselho{
        display: block;
        columns: 2;
        margin-top: 10px;
        gap: 10px;
    }

    .orgao img{
        margin-right: 10px;
        width: 78px;
        height: auto;
    }
}

